#app {
    background: linear-gradient(#860505 10%, #5461e9 20%);
    height: 100vh;
}

#email-list {
    list-style: none;
}

#email-list li {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    color: #860505;
    padding-left: 20px;
    padding-right: 20px;
}

#title {
    font-size: 100px;
    color: #b8f10c;
}

#generate {
    color: rgb(55, 2, 2);
}

.fa-circle-notch {
    font-size: 200px;
}

#email {
    background-color: #3ecdf5;
}